<section class="card m-2 col-12 col-sm-3 col-md-2 col-lg-1 border"
        style="cursor: pointer"
        (click)="getPokemonInfo()">
  <div class="text-center bg-primary text-light p-2 rounded-top">
    {{ Utils.capitalize(pokemon.name) }}
  </div>
  <div
    class="d-flex flex-row align-items-center justify-content-center"
    style="height: 80%"
  >
    <img
      class="col-12 p-2"
      src="{{ getPokemonSecondaryImagePath(pokemon.url) }}"
      alt="{{ pokemon.name }}"
    />
  </div>
</section>
